.blockCard {
	display: grid;
	justify-items: center;
	grid-gap: 25px;
	grid-template-columns: repeat(4, minmax(0, 1fr));

	@media (max-width: 1150px) {
		grid-gap: 15px;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	@media (max-width: 800px) {
		grid-gap: 15px;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	@media (max-width: 540px) {
		grid-gap: 15px;
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}
